//extends layout/layout.pug

block content 
    
    if mensagem!=""
        div.alert.alert-success= mensagem

    form(action="http://localhost:3000/cadastro" method="post")
        .mb-3
            label.form-label(for='nome') Nome
            input#nome.form-control(type='text' name="nome" aria-describedby='ajudaDeNome')
            #ajudaDeNome.form-text Digite seu nome completo
        .mb-3
            label.form-label(for='email') Email
            input#email.form-control(type='email' name="email" aria-describedby='ajudaDeEmail')
            #ajudaDeEmail.form-text Digite aqui seu email para contato
        .mb-3
            label.form-label(for='senha') Senha
            input#senha.form-control(type='password' name="senha")
        div.d-grid
            button.btn.btn-primary(type='submit') Cadastrar