extends layout/layout.pug

block content
  section.py-5.text-white
  .container
    .row
      .col-lg-8.mx-auto.text-center
        img.rounded-circle(src="http://localhost:3000/logo")
        h1.text-center.mb-3 Bem-vindo ao iSmarket!
        hr
        p.text-center Sistema dedicado a otimizar sua compra do mês.
    .row.pt-5
      .col-lg-10.mx-auto