.main {
    position: absolute;
    width: 100%;
    height: 100%;
}

.navbar {
    /*position: static;*/
    background: none;
    border: none;
    width: 100%;
}

.bloco {
  
  height: 900px;
}

body {
    background: #fecba1;
    background: -webkit-linear-gradient(to right, #fecba1, #fd7e14);
    background: linear-gradient(to right, #fecba1, #fd7e14);
    min-height: 100vh;
}

.text-uppercase {
    letter-spacing: 0.08em;
}