.main {
    position: relative;
    margin-top: 100;
}

.navbar {
    /*position: static;*/
    
    background: none;
    border: none;
    width: 100%;
}

.bloco {
  height: 900px;
}
/*#fd7e14*/
body {
    background: #fecba1;
    background: -webkit-linear-gradient(to right, #ff9843, #ff862f);
    background: linear-gradient(to right, #ff9843, #ff862f);
    min-height: 100vh;
    font-style: normal; 
    font-family: "Verdana" 
}



.text-uppercase {
    letter-spacing: 0.08em;
}

.container-full{
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}