extends layout/layout.pug

block content 
    table(class="table")
        thead  
            tr 
                th ID
                th Nome 
                th Email
        tbody 
            each cliente in clientes
                tr
                    td !{cliente.id}
                    td !{cliente.nome}
                    td !{cliente.email}
            
        