nav.navbar.navbar-expand-lg.navbar-light.bg-white.py-3.shadow-sm
  a.navbar-brand.font-weight-bold.d-block.d-lg-none(href='#') iSmarket
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon

  div#navbarContent.collapse.navbar-collapse
    ul.navbar-nav.mx-auto
        li.nav-item
          a.nav-link.font-weight-bold.text-uppercase(href='') Sobre
        li.nav-item
          a.nav-link.font-weight-bold.text-uppercase(href='') Serviços
        li.nav-item
          a.nav-link.font-weight-bold.text-uppercase(href='') Cadastre-se
        li.nav-item
          a.nav-link.font-weight-bold.text-uppercase(href='') Entrar

