nav.navbar.navbar-expand-lg.bg-light.text-uppercase.py-3.shadow-sm.fixed-top
  .container-fluid
    a.navbar-brand(href='#')
        img.rounded-5(src="http://localhost:3000/logo" alt='Bootstrap' width='50' height='50')

    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item.my-2
                a.nav-link(href='#home') Home
            li.nav-item.my-2
                a.nav-link(href='#sobre') Sobre
        ul.navbar-nav.mr-auto.mb-2.mb-lg-0    
            li.nav-item.me-3.my-2
                a.nav-link.btn.btn-outline-orange-500.font-weight-bold Cadastre-se
            li.nav-item.me-3.my-2
                a.nav-link.btn.btn-orange-500.font-weight-bold Entrar
